@charset "UTF-8";

body {
    /* background-color: #cecece; */
    font-size: 20px;
}

h2 {
    /* color: Blue; */
    text-align: left;
}

p {
    font-family: verdana;
    font-size: 20px;
    font-color: Red;
}

button {
	
	font-size: 15px;
	background-color: #cecece;
	margin-bottom: 10px;
}

mainmenu {
	font-size: 10px;
	background-color: #cecece;
}

container {
	
}